{% extends 'adminapp/base.html' %}
{% load static %}
{% load custom_tags %}

{% block content %}
    <div class="orders_list">
        <div class="paginator">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">
                    <
                </a>
            {% endif %}
            <span class="current">
                        страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
                    </span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">
                    >
                </a>
            {% endif %}
        </div>
        <div class="clearfix"></div>
        {% for object in object_list %}
            <div class="order_record
                    {% if not object.is_active %}
                        not_active
                    {% endif %}">
                <div class="order_information">
                    <p>
                        <strong>
                            Заказ №{{ object.pk }}<br>
                            Пользователь: {{ object.user.username|title }}<br>
                            Сумма: {{ object.get_total_cost }} руб.<br>
                            Статус: {{ object.get_status_display }}<br>
                            Изменен: {{ object.updated }}<br>
                        </strong>
                    </p>
                </div>
                <div class="order_actions">
                    <button>
                        <a href="{% url 'adminapp:order_update' object.pk %}">
                            редактировать заказ
                        </a>
                    </button>
                    {% if object.is_active %}
                        <button>
                            <a href="{% url 'adminapp:order_read' object.pk %}">
                                детали заказа
                            </a>
                        </button>
                    {% endif %}
                    <button>
                        <a href="{% url 'adminapp:order_delete' object.pk %}">
                            {% if object.is_active %}
                                удалить
                            {% else %}
                                восстановить
                            {% endif %}
                        </a>
                    </button>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}