{% extends 'adminapp/base.html' %}
{% load static %}


{% block content %}
    <div class="order_delete">
        Уверены, что хотите
        {% if object.is_active %}
            удалить
        {% else %}
            восстановить
        {% endif %}
        заказ №
        {{ object.pk }}
        пользователя {{ object.user.first_name|title }} {{ object.user.last_name|title }}?
        <form action="{% url 'adminapp:order_delete' object.pk %}"
              method="post">
            {% csrf_token %}
            {% if object.is_active %}
                <input class="btn btn-danger" type="submit" value="удалить">
            {% else %}
                <input class="btn btn-danger" type="submit" value="восстановить">
            {% endif %}
        </form>
        <button class="btn btn-success">
            <a href="{% url 'adminapp:orders' %}">
                Отмена
            </a>
        </button>
    </div>
{% endblock %}