<ul class="menu">
    <li>
        <a href="{% url 'main' %}"
           {% if request.resolver_match.url_name == 'main' %}class="active"{% endif %}>
            домой
        </a>
    </li>
    <li>
        <a href="{% url 'products:index' %}"
           {% if request.resolver_match.namespace == 'products' %}class="active"{% endif %}>
            продукты
        </a>
    </li>
    <li>
        <a href="{% url 'contact' %}"
           {% if request.resolver_match.url_name == 'contact' %}class="active"{% endif %}>
            контакты
        </a>
    </li>
    {% if user.is_authenticated %}
        <li>
            <div class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    {{ user.first_name|default:'Пользователь' }}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{% url 'auth:edit' user.pk %}">
                            Профиль
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'order:orders_list' %}">
                            Заказы
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    {% endif %}
    {% if user.is_superuser %}
        <li>
            <a href="{% url 'adminapp:users' %}">Админка</a>
        </li>
    {% endif %}
    <li>
        {% if user.is_authenticated %}
            <a href="{% url 'auth:logout' %}">Выход</a>
        {% else %}
            <a href="{% url 'auth:login' %}">Вход</a>
        {% endif %}
    </li>
    <li>
        <a href="{% url 'basket:basket' %}"
           class="basket">
            {% if basket %}
                <span>
                    {{ basket.0.total_cost|floatformat:0 }} руб.
                    ({{ basket.0.total_quantity }} шт.)
                </span>
            {% endif %}
        </a>
    </li>
</ul>
<a href="#" class="search"></a>