{% extends 'authapp/base.html' %}

{% block content %}
    <form class="form-horizontal" action="{% url 'authapp:login' %}" method="post">
        {% csrf_token %}
        {% if next %}
            <input name="next" type="hidden" value="{{ next }}">
        {% endif %}
        {{ login_form.as_p }}
        <br>
        <input class="form-control" type="submit" value="Вход">
    </form>
    <button class="btn btn-light form-control">
        <a href="{% url 'auth:register' %}">Регистрация</a>
    </button>
    <button class="btn btn-light form-control">
        <a href="{% url 'social:begin' 'vk-oauth2' %}?next=/">Войти через ВК</a>
    </button>
    <button class="btn btn-light form-control">
        <a href="{% url 'social:begin' 'google-oauth2' %}?next=/">Войти через Google</a>
    </button>
{% endblock %}